[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "private"
url = "http://pypi-repository-bucket.s3-website-us-east-1.amazonaws.com"
verify_ssl = false

[dev-packages]
aws-cdk-core = "*"
aws-cdk-aws-s3 = "*"
aws-cdk-aws-iam = "*"
s3pypi = "*"
pipenv-setup = "*"
bumpversion = "*"
s3-package-publisher = "==0.0.19"

[packages]
python-dotenv = "*"
boto3 = "*"

[requires]
python_version = "3.7"
